html {
  scroll-behavior: smooth;
}

.root-main .MuiBox-root {
  width: 95% !important;
  padding-inline: 5px !important;
}
.root-main .MuiBox-root .users-page {
  width: 100% !important;
}
.root-main .MuiBox-root .users-page .MuiBox-root {
  width: 100% !important;
  padding: 0 !important;
}

.users-page
  .MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor {
  width: 100% !important;
  max-width: 1100px !important;
  --DataGrid-width: 100% !important;
  --DataGrid-rowWidth: 100% !important;
  --DataGrid-columnsTotalWidth: 100% !important;
  overflow-y: scroll;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotate-icon {
  animation: rotate 0.8s linear infinite;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-shadow: 0 0 #0000 !important;
}
